<!DOCTYPE html>
<html>
<head>
  <title>Harbor pilot</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "harbor_pilot/application", media: "all" %>
  <%= javascript_include_tag "harbor_pilot/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
